<!DOCTYPE html>
<html>

<head>
    <title>titles List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Une petite application de gestion d'une médiathèque</h1>
    <ul>
        <%
var list = '';
for (i = 0; i < bookslist.length; i++) {
    list += '<li><b>Titre : </b> ' + bookslist[i].fields.titre_avec_lien_vers_le_catalogue + 
         '<b> Auteur </b> : ' +  bookslist[i].fields.auteur + ' Type de document :</b> ' +  bookslist[i].fields.type_de_document

        + '</li>';
}
%>
            <%- list %>
    </ul>
</body>

</html>